#fotolog {
    max-height: 100%;
    max-width: 100%;
    /*transform: translate(25%, -50%);*/
    border: 1px solid rgba(0, 0, 0, 0.986);
    left: 2px;
}
.card {
    border: 1px solid rgba(0, 0, 0, 0.986);
}
