<div class="container p-5 bg-dark text-white" id="acerca">
    <div class="row">
        <div class="col">
            <p>Acerca de mi:</p>
            <p>Hace poco decidí hacer lo que realmente quiero y me gusta, no puedo negar que me dio miedo pero me siento muy entusiasmado ya que estoy aprendiendo mucho dia a dia, es eso lo que más me atrae de la tecnología, su evolución constante.
                Mi entusiasmo y mis ganas de seguir aprendiendo son claves para poder incursionar en el mundo IT.</p>
        </div>
    </div>
</div>
